@import url(normalize.css);
@import "font";

:root {
  /* --valid: #adff2f;
  --error-border: #dd3c10;
  --error-back: rgba(255, 235, 232, 0.8);
  --input: #dddfe2;
  --gray: #eff0f2; */

  --btn-back: #f1e5d7;
  --btn-back-hover: #c99b66;
  --white: #ffffff;
  --black: #000000;
  --disabled: #a9a9a9;
  --background: #b8860b;
  --track-width: 0;
}

.body {
  font-size: 14px;
  font-family: "Sensei", sans-serif;
  background-color: var(--background);
}

.body_overflow {
  overflow: hidden;
}
