// .garage-screen {
/*   background-image: url(../../assets/img/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
// }

.header {
  position: relative;
  box-sizing: border-box;
  padding: 45px 20px 0;
}

.garage {
  position: relative;
  &-controls {
    position: absolute;
    bottom: -80px;
    left: 0;
    &__prev {
      margin-right: 15px;
    }
    &__prev,
    &__next {
      &_disabled {
        pointer-events: none;
        user-select: none;
        background-color: var(--disabled);
      }
    }
  }
  &-page {
    display: none;
    &_show {
      display: block;
    }
  }
}

.nav {
  &__garage {
    margin-right: 15px;
  }
}

.main {
  padding: 25px 20px 115px;
}

.car {
  margin-bottom: 10px;
  &-controls {
    display: flex;
    gap: 15px;
    align-items: center;
    &__name {
      font-size: 20px;
      margin: 0;
    }
  }
}

.track {
  position: relative;
  display: flex;
  gap: 15px;
  align-items: center;
  border-bottom: 2px dashed var(--white);
  padding-bottom: 20px;
  &__car-img {
    position: relative;
    top: 29px;
    display: block;
    width: 100px;
    height: 50px;
    animation-timing-function: linear;
    &_fire {
      background-image: url(../../assets/img/fire.gif);
      background-size: 80px 50px;
      background-position: 10px -9px;
      background-repeat: no-repeat;
    }
  }
  &__finish {
    position: absolute;
    right: 160px;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-image: url(../../assets/img/finish.svg);
    background-size: cover;
  }
  &__start,
  &__restart{
    &_disabled {
      pointer-events: none;
      user-select: none;
      background-color: var(--disabled);
    }
  }
}

.control-panel {
  max-width: 430px;
  &-create,
  &-update {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__name {
      width: 250px;
      height: 29px;
      border: 1px solid var(--black);
    }
    &__color {
      padding: 4.5px 8px;
      box-sizing: content-box;
      border-radius: 6px;
      border: none;
      @media (hover: hover) {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  &-functional {
    display: flex;
    justify-content: space-around;
    &__race,
    &__reset {
      &_disabled {
        pointer-events: none;
        user-select: none;
        background-color: var(--disabled);
      }
    }
  }
  &-update {
    &__name,
    &__color,
    &__upt {
      &_disabled {
        pointer-events: none;
        user-select: none;
        background-color: var(--disabled);
      }
    }
  }
}
.winner-msg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  max-height: 80px;
  font-size: 30px;
  color: white;
  text-shadow: 0px -6px 9px rgb(227, 64, 210);
  margin: auto;
  &_show {
    display: flex;
  }
}

.stop-car {
  animation-play-state: paused;
}

.car-drive {
	animation-name: drive;
}
.car-finished {
  transform: translateX(calc(var(--track-width) - 230px));
}
@keyframes drive {
  from {transform: translateX(0);}
  to {transform: translateX(calc(var(--track-width) - 230px));}
}

/* .car-to-finish {
  animation-name: finished;
  animation-timing-function: linear;
}
.car-on-finish {
  transform: translateX(calc(var(--track-width) - 230px));
}
@keyframes finished {
	from {transform: translateX(calc(var(--track-width) - 414px));}
	to {transform: translateX(calc(var(--track-width) - 230px));}
} */
